

* {

    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
    color: #e4b95b;
    text-align: center;
}



html {
    scroll-behavior: smooth;
}


body {
    font-family: "Quicksand", sans-serif;
    color: white;
    background-image: url('wc1702787.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
}





a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;

}

.container {
    max-width: 1100px;
    margin:90px auto;
    padding: 45px;

}









.primary-text {
color: #e4b95b;
}


header {
    height: 100vh;
    position: relative;
}

#navbar {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

#navbar img {
    width: 80px;
    margin-left: 100px;

}

nav ul {
    display: flex;
    margin-right: 100px;

}

nav ul li a {
    padding: 15px 20px;
    font-weight: 800;
    justify-items: center;
font-size: 25px;
transition: 0.3s;

}

nav ul li a:hover {
border-bottom: #9aa6e8 solid 2px;
font-size: 30px;

}

header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

header .content h1 {
    font-size: 40px;
    color:black
}

header .content p {
    margin: 20px 0 40px;
}

header * {
    z-index: 10;
}

#about {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .title,
#offers .title,
#his .title {
    text-align: center;
    margin-bottom: 4rem;
}

#about h2,
#his h2 {
    font-size: 40px;
    margin-bottom: 20px;
    background: linear-gradient(to right,#e4b95b 0%,#242423 100%);
background-clip: text;
color: transparent;
}

#about h2 {
    color: #e4b95b;
    position: relative;
    top: -8px;
    left: 17px;
}



#about .title p {
    font-weight: 600;
    font-size: 14px;
    color: #9a9a9a;
}

#about .about {
    display: flex;
    justify-content: space-between;
}

#about .about p {
    margin-right: 7rem;
    line-height: 1.6;
color: #d0d6f6;;
    font-weight: 1000;
    position: relative;
    top: 0px;
    left: 13px
}

#about img {
    max-width: 450px;
}

#about .about a {
    margin-top: 2rem;
}




#offers {
    height: 61vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 44px;
}

#offers h1 {
color: #e4b95b;
font-size: 50px;
}



#offers .leg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#offers .leg img {
    width: 200px;
    opacity: 0.5;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#offers .leg img:hover{
opacity: 1;
width: 250px;
}

#offers .leg h3 {
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
}

#offers .leg p {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}



#his .title h2 {
    background: linear-gradient(to right,#e4b95b 0%,#242423 100%);
    background-clip: text;
    color: transparent;
}

#his .title p {
    color: #e4b95b;
    font-weight: 500;
}

#his .his-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#his .his-items .his-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#his .his-items .his-item img {
    width: 80px;
    margin-right: 20px;
    border-radius: 50%;
}

#his .his-items .his-item h3 {
    color: #e4b95b;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    position: relative;
}

#his .his-items .his-item span {
    position: absolute;
    right: 0px;
    top: 0;
}

#his .his-items .his-item p {
    margin-top: 10px;
}

#his .btn {
    display: block;
    margin: auto;
    border: none;
    margin-top: 30px;
}


.title h2 {
    background: linear-gradient(to right,#e4b95b 0%,#242423 100%);
    background-clip: text;
    color: transparent;
}


#gallery {
    padding: 8rem 0 6rem;
}

#gallery h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
color: #e4b95b;
}

#gallery .img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gallery .img-gallery img {
    margin: 20px;
    width: 220px;
    height: 277px;
    border-radius: 15px;
    opacity: 0.5;
    transition: 0.7s;
}


#gallery .img-gallery img:hover {
    opacity: 1;
    width: 270px;
    height: 300px;

}


@media (max-width: 1000px) {
    #navbar img {
        margin-left: 20px;
    }

    nav ul {
        margin-right: 20px;
    }

    nav ul li a {
        padding: 10px;
    }


    #about {
        height: auto;
        padding: 4rem 2rem;
    }

    #about .about-content p {
        margin-right: 2rem;
    }

    #about img {
        width: 250px;
    }


    #his .his-items {
        display: block;
    }



    @media (max-width: 600px) {
        #navbar {
            flex-direction: column;

        }





        #about img {
            display: none;
        }

    


        #his .his-items .his-item {
            margin: 20px 10px;
        }

        

    }


}









